<main role="main" class="inner cover">
   <h1 class="cover-heading">About Me</h1>
   <br>
   <div class="row">
     <div class="col-md-4"">
       <%= image_tag "profilePicture.jpg", width: 250, alt: "Profile Image", data: {toggle: "modal", target: "#exampleModalCenter"}  %>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Profile Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <%= image_tag "profilePicture.jpg", class: "img-fluid", alt: "Profile Image" %>
                </div>  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

       <div class="skills">
         <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" aria-valuenow="<%= skill.percent_utilized %>" aria-valuemax="100" style="width: <%= skill.percent_utilized%>%">
                <%= skill.percent_utilized %>
              </div>
             </div>     
          </div>
         <% end %>
       </div>
       
     </div>

     <div class="col-md-8">
       <p class="lead text-justify">With over a decade of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.
       </p>
       <p class="lead text-justify">
         For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.
       </p>

       <p class="float-left">
         <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#jobHistory" aria-expanded="false" aria-controls="jobHistory">Curriculum Vitae</button>
         <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#education" aria-expanded="false" aria-controls="education">Education</button>
       </p>
       
       <br><br>
       <p>
        <div class="collapse" id="jobHistory">
          <div class="card card-body">
            <h3 class="job-description-title">DEVELOPER (PHP)</h3>
            <h3 class="job-company-title">HEALTHTICS SDN BHD</h3>
            <p>Developed Hospital Information System (HIS) for Healthtics Sdn Bhd. This project is developed in PHP framework. Developing front and back-end views and functionalities from registration of patients to billing patients.</p>

          </div>
          <div class="card card-body">
            <h3 class="job-description-title">CONTRACT DEVELOPER (Ruby On Rails)</h3>
            <h3 class="job-company-title">BERJAYA CORPORATION BERHAD</h3>
            <p>Had the offer to develop a Web Application for the subsidiaries of Berjaya Corporation Berhad. An app called SweetSpot which helps promote food companies promotions that are owned by Berjaya Corporations Berhad. My role in this project – developed front and back-end functionalities for the web application system using Ruby On Rails framework.</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">VOLUNTEER</h3>
            <h3 class="job-company-title">BUJANG VALLEY ECO PARK</h3>
            <p>Volunteer work in making Lembah Bujang and Pulau Bidan a sustainable environment. Pulau Bidan is an island in Yan, Kedah and in the Bujang Valley area. A sustainable island in which we are cultivating the sustainable culture and spreading it through Bujang Valley. An On-going project.</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">FOUNDER / DEVELOPER / DESIGNER</h3>
            <h3 class="job-company-title">HAIKALHUSSEIN ENTERPRISE</h3>
            <p>Founder of Haikal Hussein Enterprise (002701791-V). Most projects are on web development (Ruby on Rails, Drupal, WP) and also illustrative design. Clients are from Oil & Gas, Health, Tourism, Bio-Technologies and Retail Industries</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">DEVELOPER (Ruby On Rails)</h3>
            <h3 class="job-company-title">BANTU.MY APP</h3>
            <p>Had the offer to help on developing Bantu.my <a href="https://marketplace.bantu.my">(https://marketplace.bantu.my)</a>. A freelancing platform for business needs. Developed back-end functionalities using Ruby on Rails framework.</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">JUNIOR DEVELOPER (Ruby On Rails)</h3>
            <h3 class="job-company-title">CONSOCI8 SND BHD</h3>
            <p>Being a junior Ruby On Rails Developer. Projects are mostly on Ruby On Rails framework. Some of the clients are MDEC (Intranet Portal within the organization), SAPURA (Internal FaceBook-like web application for employees within the organization), CYBERSECURITY (Project Management System to manage their own and client’s project), FELCRABINA (Project Management System which monitors and manage their project).</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">MACHINIST (Engineering)</h3>
            <h3 class="job-company-title">AIRFOIL SDN BHD</h3>
            <p>Airfoil is a service company & jointly owned in equal shares by Lufthansa Technik and MTU Aero Engines since 2003. Airfoil focuses on repairing & maintaining engine airfoils for low-pressure turbines and high-pressure compressors.</p>
          </div>
        </div>
       </p>
       <p>
        <div class="collapse" id="education">
          <div class="card card-body">
            <h3 class="job-description-title">BACHELOR OF MECHATRONICS ENGINEERING</h3>
            <h3 class="job-company-title">UNIVERSITY OF STAFFORDSHIRE, UNITED KINGDOM</h3>
            <p>Bachelor of Mechatronics Engineering.</p>
          </div>
          <div class="card card-body">
            <h3 class="job-description-title">DIPLOMA IN MECHATRONICS ENGINEERING</h3>
            <h3 class="job-company-title">GERMAN-MALAYSIAN INSTITUTE</h3>
            <p>Diploma in Mechatronics Engineering. Specialized in Industrial Electronics.</p>
          </div>
        </div>
       </p>
     </div>

   </div>
   
</main>